* {
    font-family: Tahoma;
}

.header {
    border: 2px solid black;
    height: 330px;
    width: 98.4%;
}
.header .logo {
    float: left;
    width: 29%;
}

.header .logo img {
    width: 250px;
    height: auto;
    margin-left: 40px;
}
.header .banner {
    float: left;

}
.header .banner img{
    height: 252px;
}
.header .idiomer {
    border: 2px solid black;
    background: cornflowerblue;
    height: 70px;
}

.header .idiomer .idiom {
    font-style: italic;
    color: white;
    margin-left: 25%;
    margin-top: 10px;
}

.header .idiomer .auther {
    color: white;
    float: right;
    margin-right: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bodier .row{
    margin: 10px;
}
.clear-both {
    clear: both;
}
@media only screen and (max-width: 600px) {
    /* For phones: */
    .col-s-s-1 {
        width: 8.33%;
    }

    .col-s-s-2 {
        width: 16.66%;
    }

    .col-s-s-3 {
        width: 25%;
    }

    .col-s-s-4 {
        width: 33.33%;
    }

    .col-s-s-5 {
        width: 41.66%;
    }

    .col-s-s-6 {
        width: 50%;
    }

    .col-s-s-7 {
        width: 58.33%;
    }

    .col-s-s-8 {
        width: 66.66%;
    }

    .col-s-s-9 {
        width: 75%;
    }

    .col-s-s-10 {
        width: 83.33%;
    }

    .col-s-s-11 {
        width: 91.66%;
    }

    .col-s-s-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

